
.portfolio-content {
    position: absolute;
    top: 200px;
}
.portfolio-container {
    width: 82vw;
    display: flex;
    justify-content: flex-start;
}

#portfolio-container-2 {
    justify-content: flex-end;
}

.portfolio-container img {
    width: 900px;
}

.portfolio-container .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-container .description h2 {
    font-size: 3em;
    color: #0563BB
}

.portfolio-container .description p {
    font-size: 1.3em;
}
