.home-content {
    position: absolute;
    left: 30vh
}

.home-content h1 {
    font-size: 4.28em;
    margin: 0;
    color:#45505B
}

.home-content p {
    font-size: 1.7em;
    margin-top: 0;
    margin-bottom: 0;
    color:#45505B
}

.home-content p span {
    color: #0563BB;
}

.home-content .social-links {
    margin-top: 30px
}

.home-content .social-links img {
    margin-right: 20px
}