@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

@font-face {
    font-family: Open-Sans;
    src: url(assets/font/OpenSans.woff2) format(woff2);
    src: url(assets/font/OpenSans.woff) format(woff);
}


* {
    font-family: Open-Sans;
}

.app-content {
    display: flex;
    align-items: center;
    height: 100vh;
    background: url('assets/hero-bg.jpg');
}